<!--
Copyright (c) 2018 HornedSungem Corporation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<launch>
  <arg name="manager" default="hornedsungem_manager" />
  <arg name="namespace" default="horned_sungem_nodelet" />

  <!-- CNN model related parameter -->
  <arg name="cnn_type" default="googlenet" />
  <arg name="output_topic" value="classified_objects"
       if="$(eval cnn_type == 'alexnet' or cnn_type == 'googlenet'
       or cnn_type == 'inception_v1' or cnn_type == 'inception_v2'
       or cnn_type == 'inception_v3' or cnn_type == 'inception_v4'
       or cnn_type == 'mobilenet' or cnn_type == 'squeezenet')" />
  <arg name="output_topic" value="detected_objects" if="$(eval cnn_type == 'yolo' or cnn_type == 'mobilenetssd')" />
  <arg name="param_file" value="$(find horned_sungem_launch)/config/alexnet.yaml" if="$(eval cnn_type == 'alexnet')"/>
  <arg name="param_file" value="$(find horned_sungem_launch)/config/googlenet.yaml" if="$(eval cnn_type == 'googlenet')"/>
  <arg name="param_file" value="$(find horned_sungem_launch)/config/inception_v1.yaml" if="$(eval cnn_type == 'inception_v1')"/>
  <arg name="param_file" value="$(find horned_sungem_launch)/config/inception_v2.yaml" if="$(eval cnn_type == 'inception_v2')"/>
  <arg name="param_file" value="$(find horned_sungem_launch)/config/inception_v3.yaml" if="$(eval cnn_type == 'inception_v3')"/>
  <arg name="param_file" value="$(find horned_sungem_launch)/config/inception_v4.yaml" if="$(eval cnn_type == 'inception_v4')"/>
  <arg name="param_file" value="$(find horned_sungem_launch)/config/mobilenet.yaml" if="$(eval cnn_type == 'mobilenet')"/>
  <arg name="param_file" value="$(find horned_sungem_launch)/config/squeezenet.yaml" if="$(eval cnn_type == 'squeezenet')"/>
  <arg name="param_file" value="$(find horned_sungem_launch)/config/yolo.yaml" if="$(eval cnn_type == 'yolo')"/>
  <arg name="param_file" value="$(find horned_sungem_launch)/config/mobilenetssd.yaml" if="$(eval cnn_type == 'mobilenetssd')"/>
  <arg name="top_n" default="3" />

  <!-- HS related parameter -->
  <arg name="max_device_number" default="255" />
  <arg name="start_device_index" default="0" />
  <arg name="log_level" default="1" />


  <!-- camera related parameters -->
  <arg name="camera" default="hs" />
  <arg name="frame_topic" value="/usb_cam/image_raw" if="$(eval camera == 'usb')" />
  <arg name="frame_topic" default="/hs/camera/image_raw" if="$(eval camera == 'hs')" />
  
  <!-- camera size parameters -->
  <arg name="pixels" default="360" />


  <!-- launch usb camera with the relevant parameters if any -->
  <group if="$(eval camera == 'usb')">
    <arg name="image_width" default="640" />
    <arg name="image_height" default="480" />
    <arg name="video_device" default="/dev/video0" />

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="$(arg video_device)" />
      <param name="image_width" value="$(arg image_width)" />
      <param name="image_height" value="$(arg image_height)" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="io_method" value="mmap"/>
    </node>
  </group>


  <!-- launch HS nodelet -->
  <group ns="$(arg namespace)">
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" />

    <!-- for classification -->
    <group if="$(eval cnn_type == 'alexnet' or cnn_type == 'googlenet'
             or cnn_type == 'inception_v1' or cnn_type == 'inception_v2'
             or cnn_type == 'inception_v3' or cnn_type == 'inception_v4'
             or cnn_type == 'mobilenet' or cnn_type == 'squeezenet')">
      <include file="$(find horned_sungem_launch)/launch/includes/hs_stream_classification.launch">
        <arg name="manager" value="$(arg manager)" />
        <arg name="frame_topic" value="$(arg frame_topic)" />
        <arg name="output_topic" value="$(arg output_topic)" />
        <arg name="max_device_number" value="$(arg max_device_number)" />
        <arg name="start_device_index" value="$(arg start_device_index)" />
        <arg name="log_level" value="$(arg log_level)" />
        <arg name="top_n" value="$(arg top_n)" />
        <arg name="pixels" value="$(arg pixels)" />
        <arg name="camera" value="$(arg camera)"/>
        <arg name="cnn_type" value="$(arg cnn_type)"  />
        <arg name="param_file" value="$(arg param_file)" />
      </include>
    </group>

    <!-- for detection -->
    <group if="$(eval cnn_type == 'mobilenetssd' or cnn_type == 'yolo')">
      <include file="$(find horned_sungem_launch)/launch/includes/hs_stream_detection.launch">
        <arg name="manager" value="$(arg manager)" />
        <arg name="frame_topic" value="$(arg frame_topic)" />
        <arg name="output_topic" value="$(arg output_topic)" />
        <arg name="max_device_number" value="$(arg max_device_number)" />
        <arg name="start_device_index" value="$(arg start_device_index)" />
        <arg name="log_level" value="$(arg log_level)" />
        <arg name="top_n" value="$(arg top_n)" />
        <arg name="pixels" value="$(arg pixels)" />
        <arg name="camera" value="$(arg camera)"/>
        <arg name="cnn_type" value="$(arg cnn_type)"  />
        <arg name="param_file" value="$(arg param_file)" />
      </include>
    </group>
  </group>
</launch>
